@import url("https://fonts.googleapis.com/css?family=Cinzel|Fondamento|Fredericka+the+Great|Simonetta&display=swap");

html{
	margin: 0;padding:0; width:100%;height: 100%;position: relative;
}


body{
	position:absolute;
	width: 100%;
}
.port:hover{background-color:gold;opacity: .5;}
.Warrior{color:saddlebrown;}
.Mage{color:cornflowerblue}
.Monk{color:mediumseagreen}
.Paladin{color:lightpink}
.Hunter{color:forestgreen}
.Rogue{color:yellow}
.Priest{color:palegoldenrod}
.Dk{color:red}
.Shaman{color:royalblue}
.Warlock{color:mediumpurple}
.Druid{color:coral}
.Dh{color:rebeccapurple}
.menu-item{padding: 5px; height: 25px; color: black; border-radius: 25%; margin: 5px}

.App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
